[buildout]
index = http://pypi.bluedynamics.eu
parts = coverage omelette
develop = .
unzip = true

[test]
recipe = zc.recipe.testrunner
eggs = bda.recipe.deployment[test]

[coverage]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

